h1 Custom Query

form(action="/customQuery/submit", method="post")
        p Enter the text that you would like to use as your query:
        
        p
            input(type="text", name="query")
           
        p
            input(type="submit", value="Run Query")
