!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-latest.js")
    script(type="text/javascript", src="/javascripts/jquery-jstree/jquery.jstree.js")
    script(type="text/javascript", src="/javascripts/docLoading.js")
  body!= body
