//Frank, I added all of the important links here, but you should reformat this partial
h3 IDF
p
    a(href="/idf/") View the Main IDF Page
p
    a(href="/associate/remove") View IDF Associations
p
    a(href="/components/form") Manage IDF Components

h3 Content Augmentation
p
    a(href="/contentAug") View Content Augmentation Tree
p
    a(href="/customQuery") Make a Custom Content Augmentation Query
